*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html ,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    /* fontfam  */
    line-height: 1.8rem;
   
}

.back_img{
    background-image : url(./Images/bg_1.jpg) ;
    min-height: 100%;
     
}
.back_img2{
    background-image : url(./Images/bg_2.jpg) ;
    min-height:100%
     
}
.back_img3{
    background-image : url(./Images/bg_3.jpg) ;
    min-height:100%
     
}
.back_img,.back_img2,.back_img3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.back_text{
    position: absolute;
    width: 100%;
     top: 50% ;
    text-align:  center;
     color: white;
     font-size: 35px;  
    font-weight: bold; 
}
.center_text{ 
    border: 3px solid white;
    padding: 5px; 
    background:transparent;
    letter-spacing: 6px;
    text-transform: uppercase   ;
}
 
.text1{
    padding: 50px 80px;
    text-align: center; 
}

.text2{
    background-image: url(./Images/sec_bg.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 3px solid black ; */
    color: white;
}
 

